.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: -webkit-sticky;
    position: sticky;
    background-color:teal;
    bottom: 0;
    margin-bottom: 0;
}
p{
    color:white;
}
